* {
    box-sizing: border-box;
}

.box1 {
    height: 100px;
    width: 100px;
    background-color: rgb(172, 117, 117);
    /* border-color: darkgreen;
    border-width: 4px;
    border-style: dotted; */
    border: 4px darkgreen dotted;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* top right bottom left */
    margin: 0px 20px 40px 4px;
    box-sizing: content-box;
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border: #6fa5d4 dashed 8px;
    margin: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.cool-text {
    margin-top: 20px;
    margin-bottom: 0px;
}