* {
    margin: 0px;
}

.page-container {
    height: 80vh;
    width: 72vw;
    border: 3px black solid;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}


.main {
    text-align: center;
}

.main > * {
    margin-top: 20px;
}


.information {
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: 148px;
    font-size: 1.5em;
}

footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
}